footer {
    /* Style de base pour le footer avec un fond blanc et une bordure en haut */
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding-top: 40px;
    padding-left: 5%;
}

#footer-flexbox {
    /* Disposition des colonnes du footer avec un espacement entre elles */
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.email-form {
    /* Style du formulaire d'email avec une bordure noire et un rayon de bordure */
    display: flex;
    border: 2px solid black;
    border-radius: 30px;
    width: 50%;
}

.footer-column {
    /* Chaque colonne du footer prend une largeur égale */
    flex: 1;
    padding: 0 20px;
}

.logo {
    /* Style du texte du logo */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-info h4, .footer-column h4 {
    /* Style des titres des sections */
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info p {
    /* Marges pour le texte dans la section contact */
    margin: 10px 0;
}

.phone-email {
    /* Espacement des boutons de contact */
    margin-top: 10px;
}

.phone-email button {
    /* Style des boutons de contact */
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    border-radius: 10px;
    padding: 5px 10px;
}

.footer-column ul {
    /* Suppression des puces et des marges/paddings */
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media {
    /* Disposition des icônes de réseaux sociaux avec un espacement entre elles */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.social-media span {
    /* Style du texte #enmodepartage */
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.social-media .red {
    /* Couleur rouge pour la partie 'partage' */
    color: red;
}

.footer-bottom {
    /* Style de la ligne de bas de page avec un texte centré et un espacement horizontal */
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
    padding-left: 20%;
    padding-right: 20%;
}
