/* --- Espacement et taille pour la première section du menu horizontal 2 --- */
#menu-horizontal-2-above-content-1 {
    padding-left: 10%;
    height: 50px;
    line-height: 45px;
}

/* Rendu responsive */
@media (max-width: 532px) {
    #menu-horizontal-2-above-content-1{
        margin-bottom: 65px;
    }
}

/* --- Configuration du layout pour la deuxième section du menu horizontal 2 --- */
#menu-horizontal-2-above-content-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    justify-self: center;
    height: 50px;
}

/* --- Configuration générale du menu horizontal 2 --- */
#menu-horizontal-2 {
    padding: 40px 0;
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    gap: 3%;
}

/* --- Effet de survol sur les sous-conteneurs --- */
#menu-horizontal-2 .subcontainer:hover {
    background-color: red;
    transform: translateY(-10px);
}

/* --- Mise en forme de la section --- */
#menu-horizontal-2-below-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* --- Style du texte de la section--- */
#menu-horizontal-2-below-content-text {
    color: white;
    font-size: 20px;
    width: 50%;
    text-align: center;
}
