/* Corps de la page avec fond d'image fixe (effet parallaxe) */
body {
    background: transparent url('../img/magasin.jpg') 0% 0% no-repeat padding-box;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    max-width:1920px;
    width: 100%;
    font-family: "Albert Sans", serif;
    margin: 0;
    overflow-x: hidden;
}

/* Style des tables */
table{
    margin-top: 150px;
    width : 100%;
    max-width : 1920px;
}

/* Style des images */
img {
  max-inline-size: 85%;
  block-size: auto;
}

/* Contenu fixe positionné à 50% du haut de la page */
#fixedContent {
    position: fixed;
    top: 50%;
    left: 3%;
}

/* Animation d'un effet vers la droite au survol */
.rightOnHover {
    transition: all 0.5s;
}

.rightOnHover:hover {
    transform: translateX(10px);
}

/* Animation d'un effet de réduction et translation à droite au survol */
.rightOnHoverArrow {
    transition: all 0.5s;
}

.rightOnHoverArrow:hover {
    transform: scale(0.8) translateX(10px);
}

/* Style pour faire un texte blanc en grande taille */
.white-text{
    font-size: 45px;
    font-weight: 900;
    color: white;
}

/* Style pour faire un texte blanc avec contour et texte transparent */
.white-text-transparent{
    font-size: 45px;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

/* Style pour faire des boutons blancs avec texte rouge */
.white-button{
    color: red;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 45px;
    padding: 0 15px;
    font-weight: 700;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Animation de l'effet au survol du bouton blanc */
.white-button:hover {
    transform: scale(1.05);
}


/* Ligne blanche décorative avec marge */
.white-line {
    border-top: 5px solid white;
    margin: 10px 0;
    width: 80%;
    align-self: center;
}

/* Style pour des boutons */
.navigation-button{
    background-color: transparent;
    border: none;
}

/* Fond personnalisé avec une image */
.red_fond{
    background : transparent url('../img/Rectangle 36.svg') 0% 0% no-repeat padding-box;
}

/* Empêche les interactions avec l'élément */
.no-interact{
    pointer-events: none;
}

/* Désactive la sélection sur l'élément */
.no-selectable{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Style des champs email */
.input-email{
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    width: 80%;
    margin-left: 3%;
}

/* Retire le contour du champ email lors du focus */
.input-email:focus{
    outline: none;
}

/* Style du bouton dans un formulaire */
.form-button{
    background-color: transparent;
    outline: none;
    border: none;
    transform: scale(0.8);
}

/* Fond brun */
.brown_fond{
    background-color:#dac3b4;
}

/* Définit un z-index élevé pour prioriser cet élément (le mettre au dessus des autres)*/
.priority_max{
    z-index: 15;
}

/* Alignement du texte des colonnes de tableau */
td:last-child{
    text-align:right;
}
td:first-child{
    text-align:center;
}

.sizefull{
    min-width:90%;
}

/* Indicateur de position pour les images */
.image-indicator {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
    z-index: 10;
}

/* Styles des points indiquant la position active dans l'indicateur */
.image-indicator .dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: background 0.3s ease;
}

.image-indicator .dot.active {
    background: white;
}

/* Ajoute un espace au dessus de l'élément */
.space-on-top{
    padding-top:100px;
}

/* Ajoute un espace au dessus de l'élément mais moins grand*/
.space-on-top-half{
    padding-top:50px;
}

/* Ajoute un espace en dessous de l'élément */
.space-on-bottom{
    padding-bottom:50px;
}

/* Style d'un bouton rouge */
.red-button {
  display: inline-block;
  background-color: #FF0000;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Effet au survol du bouton */
.red-button:hover {
  transform: scale(1.05);
}
