body {
    background: transparent url('../img/magasin.jpg') 0% 0% no-repeat padding-box;
    max-width:1920px;
    font-family: "Albert Sans", serif;
}

header {
    background: white 0% 0% no-repeat padding-box;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}
img {
  max-inline-size: 85%;
  block-size: auto;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

#header-left{
    display: flex;
    gap: 7%;

}

@media (min-width:1000px){
    #header-left{
        white-space: nowrap;
    }
}

#header-right{
    display: flex;
    gap: 20%;
}

@media (min-width:1000px){
    #header-right{
        white-space: nowrap;
    }
}

#fancy-yellow-background{
    background-color: #F4E500;
    padding: 10px;
    border-radius: 15px;
}

#header-search-button{
    padding: 0px 30px;
    margin-right: 10px;
}

#sub-header{
    display: flex;
    background-color: black;
    justify-content: center;
}

#sub-header p{
    color: white;
}

#fixedContent {
    position: fixed;
    top: 50%;
    left: 3%;
}



.rightOnHover {
    transition: all 0.5s;

}

.rightOnHover:hover {
    transform: scale(0.8) translateX(10px);
}





footer {
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding-top: 40px;
    padding-left: 5%;
}

#footer-flexbox{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.email-form{
    display: flex;
    border: 2px solid black;
    border-radius: 30px;
    width: 50%;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-info h4,
.footer-column h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 10px 0;
}

.phone-email {
    margin-top: 10px;
}

.phone-email button{
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    border-radius: 10px;
    padding: 5px 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.social-media span {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.social-media .red {
    color: red;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
    padding-left: 20%;
    padding-right: 20%;
}



.red_fond{
    background : transparent url('../img/Rectangle 36.svg') 0% 0% no-repeat padding-box;
}

.carousel {
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    transition: opacity 0.5s ease;
}
.carousel-split4 {
    min-width: 25%;
}

.carousel-split6 {
    min-width: 16.7%;
}

.carousel-item img {
    width: 80%;
    display: block;
    border-radius: 10px;
}

.carousel-controls {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;

}

.no-interact{
    pointer-events: none;
}

.no-selectable{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}




.input-email{
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    width: 80%;
    margin-left: 3%;
}

.input-email:focus{
    outline: none;
}

.form-button{
    background-color: transparent;
    outline: none;
    border: none;
    transform: scale(0.8);
}

.white-line {
    border-top: 5px solid white;
    margin: 10px 0;
    width: 80%;
    align-self: center;
}

.brown_fond{
    background-color:#dac3b4;
}

.priority_max{
    z-index: 15;
}

#menu-horizontal-1{
    padding: 200px 0;
    display: flex;
    width: 100%;
    max-width:1920px;
    align-items: stretch;
    justify-content: center;
    gap: 8%;
    background-color: red;
}

#menu-horizontal-1 .subcontainer:hover{
    background-color: #ffffff;
    transform: translateY(-10px);
}

#menu-horizontal-1 .subcontainer:hover h4{
    color: red;
}

.subcontainer:hover .image-blanche{
    display: none;
}

.image-rouge{
    display: none;
}

.subcontainer:hover .image-rouge{
    display: block;
}

.subcontainer img{
    transform: scale(0.75);
}

.subcontainer h4{
    color: white;
}

@media (min-width:1000px){
    .subcontainer h4{
        white-space: nowrap;
    }
}


.subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    border-radius: 10px;
    width: 5%;
    padding: 0 30px;
    transition: all 0.2s;
}



#menu-horizontal-2{
    margin-top: 200px;
    padding: 200px 0;
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    gap: 8%;
}

#menu-horizontal-2 .subcontainer:hover{
    background-color: red;
    transform: translateY(-10px);
}


table{
    margin-top: 150px;
    width : 100%;
    max-width : 1920px
}

td:last-child{
    text-align:right;
}
td:first-child{
    text-align:center;
}

.sizefull{
    min-width:90%;
}

.image-indicator {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
    z-index: 10;
}

.image-indicator .dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: background 0.3s ease;
}

.image-indicator .dot.active {
    background: white;


#fieldset-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    background-color: #F8DF00;
    border-radius: 20px; 
    padding-bottom: 50px;
}

#fieldset-text{
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;
}

#fieldset-subtext{
    margin-top: 20px;
    align-content: center;
    justify-content: center;
    font-size: 14px;
    line-height: 3px;
    text-align: center;
}

legend{
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    -webkit-text-stroke: 3px black;
    color: #fff;
    margin-left: 30px;

}